<div class="navbar-wagon">

  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <h4> <%= "Cocktails Bar" %></h4>

    <a href="" class="navbar-wagon-item navbar-wagon-link">Add new one</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">All cocktails</a>

  </div>
</div>
